@font-face {
    font-family: 'texto';
    src: url('./fonts/Daydream.ttf');
}
@font-face {
    font-family: 'numero';
    src: url('./fonts/Minecraft.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

#score{
    width: 400px;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    order: 1;
}

.texto{
    font-family: 'texto';
    font-size: 0.7rem;
}

.numero{
    font-family: 'numero';
    font-size: 1.5rem;
}

main{
    order: 2;
}

#btn{
    display: none;
    align-items: end;
    width: 400px;
    justify-content: center;
    padding: 2rem;
    margin-top: -0.1rem;
    order: 3;
    background-color: grey;
}

#btn-meio{
    display: flex;
    flex-direction: column;
}

button{
    width: 3.5rem;
    height: 3rem;
   border: 1px solid rgb(43, 47, 51);
    background-color: grey;
}


